                                                                                                                                                                            pg_get_functiondef                                                                                                                                                                            
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 CREATE OR REPLACE FUNCTION public.fn_hotel_s_rooms_full(p_page integer DEFAULT 1, p_page_size integer DEFAULT 10, p_name character varying DEFAULT NULL::character varying, p_capacity integer DEFAULT NULL::integer, p_min_price numeric DEFAULT NULL::numeric, p_max_price numeric DEFAULT NULL::numeric, p_sort character varying DEFAULT 'price'::character varying)+
  RETURNS TABLE(room_id integer, name character varying, price_per_night numeric, capacity integer, description character varying, is_available boolean, amenities jsonb, images jsonb, total_records integer)                                                                                                                                                           +
  LANGUAGE plpgsql                                                                                                                                                                                                                                                                                                                                                       +
 AS $function$\r                                                                                                                                                                                                                                                                                                                                                         +
 BEGIN\r                                                                                                                                                                                                                                                                                                                                                                 +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 RETURN QUERY\r                                                                                                                                                                                                                                                                                                                                                          +
 SELECT\r                                                                                                                                                                                                                                                                                                                                                                +
     r.room_id,\r                                                                                                                                                                                                                                                                                                                                                        +
     r.name,\r                                                                                                                                                                                                                                                                                                                                                           +
     r.price_per_night,\r                                                                                                                                                                                                                                                                                                                                                +
     r.capacity,\r                                                                                                                                                                                                                                                                                                                                                       +
     r.description,\r                                                                                                                                                                                                                                                                                                                                                    +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
     -- disponibilidad\r                                                                                                                                                                                                                                                                                                                                                 +
     NOT EXISTS (\r                                                                                                                                                                                                                                                                                                                                                      +
         SELECT 1\r                                                                                                                                                                                                                                                                                                                                                      +
         FROM reservations res\r                                                                                                                                                                                                                                                                                                                                         +
         JOIN reservation_statuses rs \r                                                                                                                                                                                                                                                                                                                                 +
             ON rs.reservation_status_id = res.reservation_status_id\r                                                                                                                                                                                                                                                                                                   +
         WHERE res.room_id = r.room_id\r                                                                                                                                                                                                                                                                                                                                 +
         AND rs.is_final = FALSE\r                                                                                                                                                                                                                                                                                                                                       +
         AND CURRENT_DATE BETWEEN res.check_in_date AND res.check_out_date\r                                                                                                                                                                                                                                                                                             +
     ) AS is_available,\r                                                                                                                                                                                                                                                                                                                                                +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
     -- amenidades\r                                                                                                                                                                                                                                                                                                                                                     +
     (\r                                                                                                                                                                                                                                                                                                                                                                 +
         SELECT jsonb_agg(\r                                                                                                                                                                                                                                                                                                                                             +
             jsonb_build_object(\r                                                                                                                                                                                                                                                                                                                                       +
                 'amenity_id', a.amenity_id,\r                                                                                                                                                                                                                                                                                                                           +
                 'name', a.name\r                                                                                                                                                                                                                                                                                                                                        +
             )\r                                                                                                                                                                                                                                                                                                                                                         +
         )\r                                                                                                                                                                                                                                                                                                                                                             +
         FROM room_amenities ra\r                                                                                                                                                                                                                                                                                                                                        +
         JOIN amenities a ON a.amenity_id = ra.amenity_id\r                                                                                                                                                                                                                                                                                                              +
         WHERE ra.room_id = r.room_id\r                                                                                                                                                                                                                                                                                                                                  +
     ) AS amenities,\r                                                                                                                                                                                                                                                                                                                                                   +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
     -- imagenes\r                                                                                                                                                                                                                                                                                                                                                       +
     (\r                                                                                                                                                                                                                                                                                                                                                                 +
         SELECT jsonb_agg(\r                                                                                                                                                                                                                                                                                                                                             +
             jsonb_build_object(\r                                                                                                                                                                                                                                                                                                                                       +
                 'image_id', ri.image_id,\r                                                                                                                                                                                                                                                                                                                              +
                 'url', ri.image_url\r                                                                                                                                                                                                                                                                                                                                   +
             )\r                                                                                                                                                                                                                                                                                                                                                         +
         )\r                                                                                                                                                                                                                                                                                                                                                             +
         FROM room_images ri\r                                                                                                                                                                                                                                                                                                                                           +
         WHERE ri.room_id = r.room_id\r                                                                                                                                                                                                                                                                                                                                  +
     ) AS images,\r                                                                                                                                                                                                                                                                                                                                                      +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
     (COUNT(*) OVER())::INTEGER AS total_records\r                                                                                                                                                                                                                                                                                                                       +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 FROM rooms r\r                                                                                                                                                                                                                                                                                                                                                          +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 WHERE\r                                                                                                                                                                                                                                                                                                                                                                 +
     r.is_active = TRUE\r                                                                                                                                                                                                                                                                                                                                                +
     AND (p_name IS NULL OR r.name ILIKE '%' || p_name || '%')\r                                                                                                                                                                                                                                                                                                         +
     AND (p_capacity IS NULL OR r.capacity >= p_capacity)\r                                                                                                                                                                                                                                                                                                              +
     AND (p_min_price IS NULL OR r.price_per_night >= p_min_price)\r                                                                                                                                                                                                                                                                                                     +
     AND (p_max_price IS NULL OR r.price_per_night <= p_max_price)\r                                                                                                                                                                                                                                                                                                     +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 ORDER BY\r                                                                                                                                                                                                                                                                                                                                                              +
     CASE WHEN p_sort = 'price' THEN r.price_per_night END,\r                                                                                                                                                                                                                                                                                                            +
     CASE WHEN p_sort = 'capacity' THEN r.capacity END\r                                                                                                                                                                                                                                                                                                                 +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 LIMIT p_page_size\r                                                                                                                                                                                                                                                                                                                                                     +
 OFFSET (p_page - 1) * p_page_size;\r                                                                                                                                                                                                                                                                                                                                    +
 \r                                                                                                                                                                                                                                                                                                                                                                      +
 END;\r                                                                                                                                                                                                                                                                                                                                                                  +
 $function$                                                                                                                                                                                                                                                                                                                                                              +
 
(1 row)

